page-completeprofile {
  ion-avatar img{
    //margin-top: 10%;
    height: 150px;
    width: 150px;
    border-radius: 850px;
    margin-left: 30%;
  }

ion-fab{
  //align-items: center;
  //margin-left: 40%;
  //padding-top: 10%;
  //position: absolute;
  margin-left: 50%;
  //margin-top: auto;
}


.seconds{
    display: none;
}

}
